body{
    background-color: #12de33;

}

.Media-Container{
    border: 120px dotted black;
    padding: 2opx;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px blue;
    background-color: purple;
}

button{
    margin-left: 44%;
    padding: 20px;
    border-radius: 20%;
    padding-left: 200px;
    color: red;
    background-color: gray;
    font-size: 20px;
}

h2{
    font-size: 40px;
    margin-left: 30%;
}
